<!DOCTYPE html>
<html lang="en">
<head>
    {% if title %}
    <title>Welcome to ChatBot</title>
    {% else %}
    <title>{{title}} - ChatBot</title>
    {%endif%}
</head>
<body>
    <div>Chat Bot Portal:
        <a href="/index">Home</a>
        <a href="/chat/">Chat-Semantics</a>
        <a href="/chat2">Chat2-Deep Learning</a>
    </div>
    <hr>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul>{% for message in messages %}
                <li>
                    {{message}}
                </li>{% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
    {% block content %}{% endblock %}

</body>
</html>